{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
 Hi, I’m Harsh Kawale, the creator of this blogastan!
I’m passionate about technology, coding, photography,sketching.
This space is where I share my thoughts, experiences, and tutorials.
        </p>
        <p>
         When I’m not blogging, you’ll find me exploring new tech trends, working on personal projects, or enjoying a new Anime series.
I love connecting with fellow tech enthusiasts and sharing knowledge.
        </p>
        <p>
         Thank you for visiting my blog!
Feel free to get in touch(harshkawale321@gmail.com) if you’d like to collaborate, ask questions, or just say hi.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
